{% extends "base.html" %}

{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">ตระกร้าสินค้า</h1>
                <p class="lead fw-normal text-white-50 mb-0">สินค้าในตระกร้าทั้งหมด</p>
            </div>
        </div>
    </header>
    <br>
    <div class="container">
        {% if cart_products %}
            {% for product in cart_products %}
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <center>
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <br>
                                    <p class="card-text">{{ product.description }}</p>

                                    {% if product.is_sale %}
                                        <strike>{{ product.price }}฿</strike> &nbsp; {{ product.sale_price }}฿
                                    {% else %}
                                        {{ product.price }}฿
                                    {% endif %}

                                    <br><br>

                                    <div class='row justify-content-center'>
                                        <div class='col-md-2'>Quantity:</div>
                                        <div class='col-md-2'>
                                            <select class="form-select form-select-sm" id='select{{ product.id }}'>
                                                <option selected>
                                                    {% for key, value in quantities.items  %}
                                                        {% if key == product.id|slugify %}
                                                            {{ value }}
                                                        {% endif %}
                                                    {% endfor %}
                                                </option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </div>
                                    </div>

                                    <br><br>

                                    <a href="{% url "home" %}" class='btn btn-secondary'>กลับสู่หน้าแรก</a>
                                    <button type='button' data-index='{{ product.id }}' class='btn btn-secondary update-cart'>อัปเดทตะกร้าสินค้า</button>
                                    <button type='button' data-index='{{ product.id }}' class='btn btn-danger delete-product'>ลบสินค้า</button>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div align='right'>
                <h3>ทั้งหมด: {{ totals }}</h3>
                <a href="{% url "checkout" %}" class='btn btn-success'>สั่งซื้อสินค้า</a>
            </div>
            <br>
        {% else %}
            <h3>ไม่มีสินค้าในตะกร้า</h3>
        {% endif %}
    </div>

    <script>
        // Update cart
        $(document).on('click', '.update-cart', function(e){
            e.preventDefault();
            // Grab product id
            var productid = $(this).data('index');
            $.ajax({
                type: 'POST',
                url: '{% url "cart_update" %}',
                data: {
                    product_id: $(this).data('index'),
                    product_qty: $('#select' +productid+ ' option:selected').text(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
    
                success: function(json){
                    // console.log(json)
                    //document.getElementById('cart_quantity').textContent = json.qty
                    location.reload();
                },
    
                error: function(xhr, errmsg, err){
                    
                }
            });
        })

        // Delete product
        $(document).on('click', '.delete-product', function(e){
            e.preventDefault();
            // Grab product id
            //var productid = $(this).data('index');

            $.ajax({
                type: 'POST',
                url: '{% url "cart_delete" %}',
                data: {
                    product_id: $(this).data('index'),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
    
                success: function(json){
                    // console.log(json)
                    //document.getElementById('cart_quantity').textContent = json.qty
                    location.reload();
                },
    
                error: function(xhr, errmsg, err){
                    
                }
            });
        })
    </script>
{% endblock content %}

