{% extends "base.html" %}

{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">แก้ไขข้อมูลส่วนตัว</h1>
                <p class="lead fw-normal text-white-50 mb-0">แก้ไขข้อมูลส่วนตัว</p>
            </div>
        </div>
    </header>
    <!--Div-->
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br>
                <strong>ที่อยู่บิล</strong>
                <br><br>
                <form method='POST' action={% url "update_info" %}>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br><br>
                    <strong>ที่อยู่การจัดส่งสินค้า</strong>
                    <br><br>
                    {{ shipping_form.as_p }}
                    <button type='submit' class='btn btn-secondary'>แก้ไขข้อมูลส่วนตัว</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}